
@charset "utf-8";

:root{
  --background-main: #f8f8f8;
  --background-sub: #ffffff;
  --font-color-main: #191821;
  --font-color-sub: #191821;
  --font-size-large: 30px;
  --font-size-medium: 24px;
  --font-size-small: 20px;
  --button-color: #0f00ab;
  --button-hover-color: #0047ab;
  --button-font: #ffffff;
  --footer-font-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  background-color: var(--background-main);
  font-family: "Montserrat", sans-serif;
  overflow: auto;
}

h1, h2, p, li, a {
  color: var(--font-color-main);
}

h2 {
  font-size: var(--font-size-large);
}

p {
  font-size: var(--font-size-small)
}


/*----------------------------------*/
/*             Header               */
/*----------------------------------*/


.logo-title {
  height: 80px;
  line-height: 80px;
}

.header-bar{
  display: flex;
}

nav {
  height: 80px;
}

nav ul {
  gap: 20px;
}

nav ul li {
  line-height: 80px;
  list-style: none;
}

nav ul li a {
  color: var(--font-color-main);
  font-weight: 500;
  font-size: var(--font-size-small);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
  color: var(--button-color);
}

.header-nav {
  display: flex;
  gap: 30px;
}

span {
  color: #007bff;
}

.sign-up, .log-in {
  margin: 20px 0;
}



/*----------------------------------*/
/*          Landing Page            */
/*----------------------------------*/


button:hover {
  background-color: var(--button-color);
}

a:link, a:visited {
  text-decoration: none;
}

/*------------------------------------------*/
/*       Form and Picture                   */
/*------------------------------------------*/

.two-columns {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

.col-picture {
  width: 45%;
}

.col-log {
  width: 45%;
}

.picture-title {
  display: flex;
  gap: 10px;
  align-content: center;

h2 {
  font-size: 40px;
}
i {
  font-size: 40px;
  line-height: 60px;
}

}

.login-button {
  width: 100%;
}

.login-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.input-field input:focus {
  outline: none;
  border-color: #0077b5;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
  transition: 0.3s;
}

button {
  font-size: 16px;
  height: 40px;
  width: 90px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn1 {
  background-color: #0077b5;
  color: #fff;
}

.btn2 {
  background-color: #ffffff;
  color: #0077b5;
}

.btn1:hover {
  background-color: #055a8c;
}

.btn2:hover {
  background-color: #e4e4e4e3;
}

/*------------------------------------------*/
/*              Footer                      */
/*------------------------------------------*/

footer {
  background-color:#ebebeb;
  color: #000000;
  height: 60px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.footer-copyright {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  line-height: 60px;
  list-style: none;
}

.footer-socialmedia {
  font-size: 20px;
  line-height: 60px;
  list-style: none;
  color: #000000;
  gap: 20px;
  display: flex;
}

.footer-socialmedia li i {
  color: #000000;
}

footer ul li i:hover {
  color: #eaeaff;
}


/*------------------------------------------*/
/*              Utility                     */
/*------------------------------------------*/


.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.center {
  align-content: center;
}


